$lightGrey: #d4d4d2;
$darkGrey: #505050;
$offBlack: #1c1c1c;
$orange: #ff9500;

@mixin universalStyles {
	.MainBar {
		background: linear-gradient(0.647turn, #101a72cc, #071b4ccc 0.01%, #071b4ccc 51.04%, #071b4c 99.1%);
		background-image: linear-gradient(0.647turn, rgba(16, 26, 114, 0.8), rgba(7, 27, 76, 0.6) 0.01%, rgba(7, 27, 76, 0.8) 51.04%, rgb(7, 27, 76) 99.1%);
	}

	.FlexDiv {
		display: flex;
		margin-top: 40px;
	}

	.SearchBar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.Suggestions {
		text-align: left;
		border: gray 1px;
		padding-left: 10px;
		background-color: white;
		z-index: 10;
	}

	.StyledLink {
		text-decoration: none;
	}

	.SearchInput {
		border: 1px solid #ccc;
	}

	.SubmitButton {
		background-color: #4caf50;
		color: white;
		border: none;
		cursor: pointer;

		&:hover {
			background-color: #45a049;
		}
	}

	.ServicesDiv {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.ServiceTitle {
		text-align: center;
		color: white;
		font-weight: bold;
		color: black;
	}

	.Service {
		display: flex;
		flex-wrap: nowrap;
		/* color: white; */
		overflow-x: scroll;
		overflow-y: hidden;

		scrollbar-width: thin;
		scrollbar-color: #888888 #f4f4f4;
		scrollbar-track-color: #f4f4f4;
		scrollbar-face-color: #888888;

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-track {
			background-color: #f4f4f4;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #888888;
			border-radius: 4px;
		}
	}

	.ADiv {
		display: inline-block;
		border-top: 1px solid lightgrey;
		border-bottom: 1px solid lightgrey;
		border-left: 1px solid lightgrey;
		border-right: 1px solid lightgrey;
		overflow: hidden;
		cursor: pointer;
	}

	.ProjectImg {
		object-fit: cover;
		opacity: 1;
		transition: transform 0.3s ease-in-out;
		overflow: hidden;

		.ADiv:hover & {
			transform: scale(1.1);
		}
	}

	.NonImage {
		margin-left: 10px;
	}

	.RatingDiv {
		display: flex;
		align-items: center;
		max-height: 20px;
		margin: 20px 0px;
	}

	.LittleServiceDiv {
		display: flex;
		white-space: nowrap;
		position: relative;
		bottom: 12px;
		max-width: 265px;
	}

	.RatingCount {
		margin-left: 5px;
		color: black;
	}

	.ServiceLittleOne {
		color: grey;
		display: flex;
		align-items: center;

		&::after {
			content: "·";
			margin: 0 5px;
			color: black;
		}

		&:last-child::after {
			content: "";
			margin: 0;
		}
	}

	.ProjectName {
		padding: 0px;
		font-weight: bold;
		margin: 5px 0px;
		transition: opacity 0.3s ease;
		z-index: 1;
		color: black;
		font-size: 1.3em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 265px;
		overflow-wrap: break-word;

		@media (min-width: 200px) and (max-width: 850px) {
			font-size: 1em;
		}
	}
}

//The following is just to make it as responsive as possible, no other styling is here just that

@media (min-aspect-ratio: 0/1) and (max-aspect-ratio: 18/32) {
	@include universalStyles();

	
	.MainBar {
		width: 80%;
		height: 170px;
		margin-top: 50px;
		margin-left: 10%;
		border-radius: 10px;
	}

	.Suggestions {
		width: 269px;
	}

	.SearchInput {
		width: 200px;
		padding: 8px;
	}

	.SubmitButton {
		padding: 8px 15px;
	}

	.ServiceTitle {
		margin-top: 40px;
		font-size: 3em;
	}

	.Service {
		width: 75%;
		border-radius: 15px;
		height: 275px;
	}

	.ADiv {
		bottom: 6px;
		border-radius: 11px;
		margin: 15px;
		min-width: 45vw;
		max-width: 45vw;
	}

	.ProjectImg {
		width: 100%;
		height: 50%;
	}

	.ProjectStarImage {
		width: 100px;
		height: 18px;
	}

}

@media (min-aspect-ratio: 18/32) and (max-aspect-ratio: 31/40) {
	@include universalStyles();

	
	.MainBar {
		width: 80%;
		height: 170px;
		margin-top: 50px;
		margin-left: 10%;
		border-radius: 10px;
	}

	.Suggestions {
		width: 269px;
	}

	.SearchInput {
		width: 200px;
		padding: 8px;
	}

	.SubmitButton {
		padding: 8px 15px;
	}

	.ServiceTitle {
		margin-top: 40px;
		font-size: 3em;
	}

	.Service {
		width: 75%;
		border-radius: 15px;
		height: 325px;
	}

	.ADiv {
		bottom: 6px;
		border-radius: 11px;
		margin: 15px;
		min-width: 240px;
		max-width: 240px;
	}

	.ProjectImg {
		width: 260px;
		height: 150px;
	}

	.ProjectStarImage {
		width: 100px;
		height: 18px;
	}
}

@media (min-aspect-ratio: 31/40) and (max-aspect-ratio: 13/11) {
	@include universalStyles();

	
	.MainBar {
		width: 80%;
		height: 170px;
		margin-top: 50px;
		margin-left: 10%;
		border-radius: 10px;
	}

	.Suggestions {
		width: 269px;
	}

	.SearchInput {
		width: 200px;
		padding: 8px;
	}

	.SubmitButton {
		padding: 8px 15px;
	}

	.ServiceTitle {
		margin-top: 40px;
		font-size: 3em;
	}

	.Service {
		width: 75%;
		border-radius: 15px;
		height: 325px;
	}

	.ADiv {
		bottom: 6px;
		border-radius: 11px;
		margin: 15px;
		min-width: 240px;
		max-width: 240px;
	}

	.ProjectImg {
		width: 260px;
		height: 150px;
	}

	.ProjectStarImage {
		width: 100px;
		height: 18px;
	}
}

@media (min-aspect-ratio: 13/11) {
	@include universalStyles();

	.MainBar {
		width: 80%;
		height: 170px;
		margin-top: 50px;
		margin-left: 10%;
		border-radius: 10px;
	}

	.Suggestions {
		width: 269px;
	}

	.SearchInput {
		width: 200px;
		padding: 8px;
	}

	.SubmitButton {
		padding: 8px 15px;
	}

	.ServiceTitle {
		margin-top: 40px;
		font-size: 3em;
	}

	.Service {
		width: 75%;
		border-radius: 15px;
		height: 325px;
	}

	.ADiv {
		bottom: 6px;
		border-radius: 11px;
		margin: 15px;
		min-width: 240px;
		max-width: 240px;
	}

	.ProjectImg {
		width: 260px;
		height: 150px;
	}

	.ProjectStarImage {
		width: 100px;
		height: 18px;
	}
}
